* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    --cor1: rgba(255, 255, 255, 0.432);
    --cor2: rgba(255, 255, 255, 0.795);
}


body{
    background: url(imagens/background.jpg) center center / cover fixed;
}


p#titulo{
    background-color: rgba(255, 255, 255, 0.473);
    font-size: 2em;
    font-weight: bold;
    text-indent: 1em;
    padding: 14px;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-top: -20px;
    margin-right: -30px;
    padding-left: 0px;
    width: 88vw;
    width: -webkit-fill-available;
    position: sticky;
    
}

table{
    border-radius: 20px;
    margin: auto;
    min-width: 70vw;
    height: 100vh;
    padding: 0px;
    border-collapse: collapse;
}

div::-webkit-scrollbar{
    border-radius: 20px;
}

div::-webkit-scrollbar-thumb{
    border-radius: 20px;
    height: 1px;
    background-color: #0004;
}

div::-webkit-scrollbar-track{
    background-color: transparent;
}

tr:hover{
    background-color: rgb(212, 212, 212);
    transition-duration: 0.3s;
}

th, td{
    padding: 10px;
}

td:hover{
    cursor: pointer;
}

th{
    background-color: rgba(224, 222, 222, 0.788);
}

img{
    width: 40px;
    height: 35px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

div{
    background-color: rgba(255, 255, 255, 0.459);
    box-shadow: 0px 1px 4px black;
    max-width: 90vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    overflow: auto;
    padding: 20px;
}

.linha {
    background-color: var(--cor1);
}

table:nth-child(even){
    background-color: var(--cor1);
}

.linha:hover{

}


.id{
    border-right: 0px;
}

.Status{
    width: 300px;
}

.Status > p.Pending{
    text-align: center;
    font-weight: bold;
    background-color: rgb(150, 186, 253);
    color: rgb(44, 81, 148);
    margin: auto;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
}

.Status > p.Delivered{
    text-align: center;
    font-weight: bold;
    background-color: rgb(148, 247, 148);
    color: green;
    margin: auto;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
}

.Status > p.Canceled{
    text-align: center;
    font-weight: bold;
    background-color: rgb(223, 102, 102);
    color: rgb(143, 20, 20);
    margin: auto;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
}

.Status > p.Shiped{
    text-align: center;
    font-weight: bold;
    background-color: rgb(228, 145, 228);
    color: rgb(194, 72, 194);
    margin: auto;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
}

.Order_Date {
    width: 300px;
    text-align: center;
    margin: auto;
}

.Location{
    text-align: center;
}

.Amount{
    font-weight: bolder;
    text-align: center;
}

.id{
    text-align: center;
}